.content {
  max-width: 984px;
  margin: 92px auto 0;
}

.content__limiter {
  max-width: 830px;

}

.content__title {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  }

.content__quote {
  max-width: 738px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  margin-bottom: 10px;
  ;
}

.content__author {
  max-width: 830px;
}

.content__author-limiter {
  max-width: 732px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  text-align: right;

}

.content__text {
  max-width: 722px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 32px 10px 0 0;

  }

  @media screen and (max-width: 1024px) {
.content {
  max-width: 720px;
  margin: 90px auto 0;
}

.content__title {
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 1.08;
  }

  .content__text {
   margin: 32px auto 0;
   }
  }

  @media screen and (max-width: 544px) {

.content {
  max-width: 288px;
  margin: 64px auto 0;
}

.content__title {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.09;
  }

.content__text {
  margin: 32px auto 0;
   }
  }
