.photogrid {
  max-width: 1184px;
  max-height: 442px;
  margin: 118px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  }

.photogrid__image {
  max-width: 284px;
  max-height: 213px;
  width: 100%;
  object-fit: cover;
  display: block;
}