@import url("../vendor/normalize.css");

@import url("../blocks/footer.css");
@import url("../blocks/header.css");
@import url("../blocks/page.css");

html {
  scroll-behavior: smooth;
}

.page {
  background-color: #2a2c2f;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__container {
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 254px;
  height: 70px;
  margin: 34px auto 0;
  align-items: center;
}

.header__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 90px auto 32px;
  text-align: center;

}

.header__subtitle {
  max-width: 720px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
}

.header__image {
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  height: 100%;
  margin: 64px auto 0;
  display: block;
}

.content {
  max-width: 984px;
  margin: 92px auto 0;
}

.content__limiter {
  max-width: 830px;

}

.content__title {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  }

.content__quote {
  max-width: 738px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
  ;
}

.content__author {
  max-width: 830px;


}

.content__author_limiter {
  max-width: 732px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  text-align: right;

}

.content__text {
  max-width: 722px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  margin: 32px 10px 0 0;
  text-align: justify;
  }

.footer {
  max-width: 166px;
  margin: 92px auto 0;
  padding-bottom: 24px;

}

